{% extends 'myapp/base.html'%}
{% block body %}

 <div class="flex p-10">
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlM1QEAwnkMk8SX9Lue5ItZly9F324a_F-FUqNR0VL0Q&s" alt="">
    </div>
    <div class="pl-10">
        <div class="text-4xl mb-4">{{product.name}}</div>
        <div class="mb-4">{{product.description}}</div>
        <div class="mb-4 text-green-700 font-bold">${{product.price}}</div>
        <div>
            <button id="checkout-id" class="bg-green-500 text-white px-4 py-2 rounded-sm">BUY</button>
        </div>
    </div>
 </div>

{% endblock %}

